#atcoder
atcoder/*
!atcoder/src/

#common
.git/*
.vscode/*
*.swp
*.iml

#other
*.exe

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
!.java
javac/javac.iml
javac/out
*/.idea/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.fleet/*

# Clang
*.out
cshap/bin/*
cshap/obj/*
do
core

# Python
*/.venv/*

# C#
cshap/obj/*
