#atcoder
atcoder/*
!atcoder/src/

#common
.git/*
.vscode/*
*.swp
python/.idea/*
java/.idea/*
*.iml

#other
*.exe

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
!.java
javac/javac.iml
javac/out
javac/.idea/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
